<div style="padding-top:10px">
	<p>
		<%= link_to "Add Image +", new_pin_path, class: "btn btn-primary btn-large" %>
	</p>
</div>

<div id="pins">
  <%= render @pins %>
</div>
<div class="pins_pagination">
	<div class="page_info">
      <%= page_entries_info @pins %>
    </div>
  <%= will_paginate @pins %>
</div>

 

