<h1>Create a New Project</h1>
<div class="container">
	<p>Fill out the form below to create your project.</p>
	<ul class="thumbnails">
		    <li class="span9">
			    <p class="thumbnail">
				    Form fields:
				    Project name<br>
						Project category dropdown<br>
						Amount needed (alt text: Remember to add processing fees and the cost of any awards you offer!)
					</p>
					<p class="thumbnail">Short description field<br>
						Long description field<br>
						<a href="#">Video/Image Uploader link (popup) </a><br>
						<a href="#"> "Add thank you gifts" link (popup)</a>
					</p>
					<p class="thumbnail"><%= link_to "Save", "#", class: "btn btn-primary btn-large" %>  <%= link_to "Cancel", "#", class: "btn btn-primary btn-large" %></p>

			    	<img data-src="holder.js/300x200" alt="">
			    </p>
		    </li>
		    <li class="span3">
			    <div class="thumbnail marketing-byline"><strong>Tips for Success</strong></div><br>
			    <p class="thumbnail marketing-byline"><strong>Make a Video!!</strong><br>
			   	 People <b>love</b> video. It makes your project more "real." It doesn't have to be perfect. 	
			   	</p>
			    <p class="thumbnail marketing-byline"><strong>Add Photos</strong><br>
			    	Photos make the page more eye-catching. Eye-catching is good. 
			    </p>
			    <p class="thumbnail marketing-byline"><strong>Offer Thank You Gifts</strong><br>
			    	Offer thank you gifts for your donors. Make different levels for different donation amounts. Be creative! For one level, you could offer to shout "thank you" from a mountaintop, write donor names inside a wall (and take photos), offer an energy saving light bulb, .... Make sure your offerings are sensible for the donation level (spending $5 on a thank you gift for a $1 donation isn't going to work).
			    </p>
			    <p class="thumbnail marketing-byline"><strong>Share, Share, Share</strong><br>
			    	On the web, if you build it, they may not come. In fact, they probably won't. So you have to bring your page to them - share it via facebook, twitter, email, etc. Tell everyone you know, and ask them to tell others. It can feel hard to ask people for money, but think how much harder it is to live with high utility bills, and remember, that your energy savings will help the entire planet!
			    </p>
			    	
		    </li>
		  </ul>
</div>