<%if user_signed_in?%>
	<div class="jumbotron masthead">
		<h1>Welcome, Hero!</h1>
	</div>
			<p>thumbnails of your projects, and projects you've funded go here</p>
			<ul class="thumbnails">
	    <li class="span6">
	    	<h2>Your Projects</h2>
		    <a href="#" class="thumbnail">
		    Your Project 1<br>
		 		&nbsp;<br>
		 		&nbsp;
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p><b>Title</b></p>

		    <a href="#" class="thumbnail">
		    Your Project 2<br>
		 		&nbsp;<br>
		 		&nbsp;
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p><b>Title</b></p>

	    </li>

	    <li class="span6">
	    	<h2>Projects You've Funded</h2>
		    <a href="#" class="thumbnail">
		    You Funded 1<br>
		 		&nbsp;<br>
		 		&nbsp;
		    Sustainable energy (solar)
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p><b>Title</b></p>


		    <a href="#" class="thumbnail">
		    You Funded 2<br>
		 		&nbsp;<br>
		 		&nbsp;
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p><b>Title</b></p>


		    <a href="#" class="thumbnail">
		    You Funded 3<br>
		 		&nbsp;<br>
		 		&nbsp;
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		   	<p><b>Title</b></p>


	    </li>

</ul>
	

              
 <%else%>
	 <div class="jumbotron masthead">
		<h1>You Can be a Hero!</h1>
				<p>
				Fund Projects, Save the World<sup>*</sup> 
				</p>
				<p>
				<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
				</p>
				<p><sup>*</sup>Because every donation and every successful project counts!</p>
	</div>

	<div class="hero-unit">
			<h2 class="center">How It Works:</h2>
			<ul class="thumbnails">
				
		    <li class="span4 offset2"><img class="box"src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/113/medium/Placeholder_PickAProject.jpg?1361837879"></li>
		    <li class="span4"><img class="box"src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/112/medium/Placeholder_Donate.jpg?1361837787"></li>
		    <li class="span=4"><img class="box"src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/114/medium/Placeholder_Save_the_world.jpg?1361837986"></li>
	  	</ul>
	</div>
<%end%>



<div class="container">
	<div class="hero-unit">
		<h1>Featured Projects</h1>
		<p class="marketing-byline"> <i>Check Out These Amazing Projects! </i></p>
		<p><p>
					<%= link_to "See All Projects", pins_path, class: "btn btn-primary btn-large pull-right" %>
					</p></p>
	</div>

	 <h1>[Featured Project Scroller goes here]</h1>
	  <ul class="pager">  
	  <li>  
	    <a href="#">Previous</a>  
	  </li>  
	  <li>  
	    <a href="#">Next</a>  
	  </li>  </ul> 

	<div class="hero-unit">
		<h1>More Cool Projects</h1>
		<p class="marketing-byline"> <i>Make Someone's Day: Push a Project Over the Funding Finish Line!</i></p>
		<p><p>
					<%= link_to "See All Projects", pins_path, class: "btn btn-primary btn-large pull-right" %>
					</p></p>
	</div>

	<ul class="thumbnails">
		    <li class="span4">
		    	<h2>Efficiency</h2>
			    <a href="#" class="thumbnail">
			    Efficiency 1<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 1: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

			    <a href="#" class="thumbnail">
			    Efficiency 2<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

			    <a href="#" class="thumbnail">
			    Efficiency 3<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

		    </li>
		    <li class="span4">
		    	<h2>Renewable Energy</h2>
			    <a href="#" class="thumbnail">
			 		Renewable Project 1<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

			    <a href="#" class="thumbnail">
			    Renewable Project 2<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

			    <a href="#" class="thumbnail">
			    Renewable Project 3<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

		    </li>

		    <li class="span4">
		    	<h2>Nearly Funded</h2>
			    <a href="#" class="thumbnail">
			    Finish Line 1<br>
			 		&nbsp;<br>
			 		&nbsp;
			    Sustainable energy (solar)
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

			    <a href="#" class="thumbnail">
			    Finish Line 2<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

			    <a href="#" class="thumbnail">
			    Finish Line 3<br>
			 		&nbsp;<br>
			 		&nbsp;
			    <img data-src="holder.js/300x200" alt="">
			    </a>
			    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.  </p>
			    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. </p>

		    </li>
	</ul>
</div>

