<div class="hero-unit">
	<h1>Green Planet Heroes:</h1>
	<h3>Saving the Planet by Helping Each Other</h3>
</div>

<p>		
<big>Cost is the <b>#1 Road Block</b> to Energy Savings and Renewable Energy.</big>
</p>
<p>
	<i>Green Planet Heroes</i> help each other past that roadblock through crowd funding. 
</p>
<p>
<big><b>How to be a Hero:</b></big>
<ol>
	<li><a href="../createproject.html">Create a Project</a>: Other Heroes will donate to help you complete your energy efficiency or renewables project. Share the link with your friends and family to help make it successful.</li><br />
	<p>Or...</p>
	<li><a href="../projectlist.html">Fund a Project</a>: Become a Hero by finding projects you want to fund. Donate, then share those projects with your friends and family to help the projects succeed.</li>
</ol>
<p>
	<big>Together, We're Crowd-Saving the Planet!</big>
</p>
