

<div class="hero-unit">
<h1>Heroes Needed!</h1>
<p class="marketing-byline"> <i>Because, Together, We are Bigger than the Challenges We Face.</i></p>
</div>

<ul class="thumbnails">
	    <li class="span4">
		    <a href="#" class="thumbnail">
		    image 1<br>
		    Climate
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p>Challenge 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    tempor incididunt ut labore et dolore magna aliqua.  </p>
		    <p>Solution 1: Duis aute irure dolor in reprehenderit in voluptate velit esse
		    cillum dolore eu fugiat nulla pariatur. </p>
	    </li>
	    <li class="span4">
		    <a href="#" class="thumbnail">
		 	image 2<br>
		 	Efficiency (insulation)
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    tempor incididunt ut labore et dolore magna aliqua.  </p>
		    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
		    cillum dolore eu fugiat nulla pariatur. </p>
	    </li>
	    <li class="span4">
		    <a href="#" class="thumbnail">
		    image 3<br>
		    Sustainable energy (solar)
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    tempor incididunt ut labore et dolore magna aliqua.  </p>
		    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
		    cillum dolore eu fugiat nulla pariatur. </p>
	    </li>


</ul>


	<div class="hero-unit">
	<h1>Cost is the #1 Road Block</h1>
	<p class="marketing-byline"> <i>For Energy Efficiency and Sustainable Energy Projects</i></p>
	
</div>

<p> <big>Smash Through the Roadblock!</big> </p>

<ul class="thumbnails">
	    <li class="span6">
		    <a href="#" class="thumbnail">
		    Image 1<br>
		    Climate Montage<br>
		    Include a "Donate to a Project" (button)
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p><big>You <b>can</b> make a difference!</big><br>You want to <b>do</b> something about the environment, but there are reasons you can't make efficiency or sustainability improvements in your own home. Or maybe your home is already as green as it can be.</p>

		    <p> That's OK. </p>

		    <p><big><a href="#donor">Donate to Become a Hero</a></big>! <br>Help others reduce their energy footprint, by helping them complete efficiency or sustainability projects.</p>
	    </li>
	    <li class="span6">
		    <a href="#" class="thumbnail">
		 	image 2<br>
		 	Efficiency and Sustainability Montage<br>
		 	Include a "Create a Project" button
		    <img data-src="holder.js/300x200" alt="">
		    </a>
		    <p>Want to cut your heating and cooling bills? Lighting is costing an arm and a leg? Want to stop getting your power from dirty coal? You have another energy or efficiency need? </p>
		    <p><big><a href="#Createproject">Call on our Heroes!</a></big><br>There are people all over the country looking for ways to donate that will make a real difference, today. They want to know that the money they give will cut CO2 output right away. There is no better way to guarantee that than to directly fund the projects that cut CO2.</p>
		    <p>Investing in reducing residential building energy use is the <a href="http://architecture2030.org/hot_topics/14x_stimulus">single quickest way</a> to cut CO2 emissions.</p>
		    <p>Your project is part of the solution!</p>
	    </li>
	 </ul>



	<div class="hero-unit"><h1>Crowd-Saving the Planet!</h1>
		<p class="marketing-byline"><i>Heroes Win by Working Together</i></p>
	</div>
</p>
