<h1>Green Planet Heroes:</h1>
<h3>Saving the Planet by Helping Each Other</h3>

<p>
	The upfront cost is the #1 road block to saving energy and reducing the CO2 that causes global warming.
<br />
	GPH lets us help each other past that roadblock through crowd funding. </p>
<p>
	We call it: <big>Crowd-Saving the Planet</big>.
</p>
<p>
There are two ways to save the planet: 
<ol>
	<li><a href="../createproject.html">Create a Project</a>: Heroes will donate to help you complete your project. Share the link with your friends and family to help make it successful.</li>
	<li><a href="../createproject.html">Check out the Project List</a>: Find projects you want to fund. Donate and share with your friends and family to help make it successful.</li>
</p>

