$baseFontFamily:Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

/*Navbar tweaks - line 4*/
$navbarBackground: lightgreen;
$navbarBackgroundHighlight: green;
$navbarLinkBackgroundHover: lightgreen;
$navbarBrandColor: white;
$navbarLinkColor: white;


/*Great big button tweaks - line 11*/
$btnPrimaryBackground: green;
$btnPrimaryBackgroundHighlight: lightgreen;


/*import bootstrap - line 17*/
@import 'bootstrap';

/*Reduce nav bar spacing from default - not sure how*/


/*Set a large padding at page top to accomodate fixed-to-top nav bar - line 19*/
body{
	padding-top: 80px;

	 .nav li {  
      padding-left: 0px; 
      padding-right: 0px;   
      }  

   .marketing-byline, h1, h2 {
   	  text-align: center;
   }

   .jumbotron, masthead {
   	 background-color: gray;
   }
}

/*import the responsive bootstrap layout - line 24*/
@import 'bootstrap-responsive';

/*kill the box shadow on the nav bar - line 27
.navbar-inner{

	@include box-shadow(none !important);
	border:0;
}*/

/*specify footer margin, text color, and link color - line 34*/
.footer {
	margin-top: 50px;
	color:$grayLight;
	a {
		color: $gray;
	}

}