$baseFontFamily:Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

/*Navbar tweaks - line 4*/
$navbarBackground: lightgreen;
$navbarBackgroundHighlight: green;
$navbarLinkBackgroundHover: lightgreen;
$navbarBrandColor: white;
$navbarLinkColor: white;

/*random comment added to force a code update on heroku. Feel free to delete.*/

/*Great big button tweaks - line 11*/
$btnPrimaryBackground: green;
$btnPrimaryBackgroundHighlight: lightgreen;


/*import bootstrap - line 17*/
@import 'bootstrap';

/*Reduce nav bar spacing from default - not sure how*/


/*Set a large padding at page top to accomodate fixed-to-top nav bar - line 19*/
body{
	padding-top: 80px;

	 .nav li {  
      padding-left: 0px; 
      padding-right: 0px;   
      }  

   .marketing-byline, h1, h2 {
   	  text-align: center;
   }

   
   	.jumbotron {
   	padding-top:-40px;
    position: relative;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
    background: linear-gradient(45deg, rgb(2, 54, 2) 0%, rgb(6, 153, 6) 100%) repeat scroll 0% 0% transparent;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;
	}


	.masthead{
		padding: 70px 0px 80px;
		margin-bottom: 0px;
		color: rgb(255, 255, 255);
	}


   .jumbotron {
   	 background-color: gray;
   }
}

/*import the responsive bootstrap layout - line 24*/
@import 'bootstrap-responsive';

/*kill the box shadow on the nav bar - line 27
.navbar-inner{

	@include box-shadow(none !important);
	border:0;
}*/

/*specify footer margin, text color, and link color - line 34*/
.footer {
	margin-top: 50px;
	color:$grayLight;
	a {
		color: $gray;
	}

}