<div class="footer">
			<p>
			<small>
				You found the home page for the  <%= link_to "One month rails", "http://onemonthrails.com" %> application. By <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>

			</small></p>
		</div>