<div class="footer">
			<p>
			<small>
				
				<sup>*</sup>We know there's more to saving the world, but do it, anyway, because every donation and every successful project counts!
				
			</small></p>
		</div>