<footer class='section' id='footer' role='contentinfo'>
	<div class='container'>
		<div class='row-fluid' style="margin-left: 20px;">
			<div class='span4'>
					<h3>Join us online</h3>
						<ul class='unstyled'>
						<li>
						<i class='icon-twitter'></i>
						<a href='https://twitter.com/GreenPlanetHero/' target='_blank'>Follow @GreenPlanetHero</a>
						</li>
						<li>
						<i class='icon-facebook'></i>
						<a href='https://www.facebook.com/GreenPlanetHeroesCommunity' target='_blank'>Green Planet Heroes Community</a>
						</li>
						<li>
						<div class='fb-like' data-colorscheme='dark' data-href='https://www.facebook.com/GreenPlanetHeroesCommunity' data-layout='button_count' data-send='false' data-show-faces='false' data-width='450' style='margin:2px 0px 5px 40px;'></div>
						</li>
						<li>
						
						</li>
						</ul>
					</div>
					<div class='span4'>
						<h3>Green Planet Heroes</h3>
						<ul class='unstyled'>
							<li>
								<i class='icon-map-marker'></i>
								<a href="#">Contact</a>
							</li>
							<li>
								<i class='icon-bolt'></i>
								<a href="#">About</a>
							</li>
							<li>
								<i class='icon-bookmark-empty'></i>
								<a href="#">FAQ</a>
							</li>
							<li>
								<i class='icon-envelope'></i>
								<a data-toggle='modal' href='#myModal'>Newsletter</a>
							</li>
						</ul>
					</div>
					<div class='span4'>
						<h3>Legal</h3>
						<ul class='unstyled'>
							<li>
								<i class='icon-legal'></i>
								<a href="#">Terms and Conditions</a>
							</li>
							<li>
								<i class='icon-bullhorn'></i>
								<a href="#">Privacy Policy</a>
							</li>
						</ul>						
					</div>
					<div class="span12" style="text-align: center">
						Copyright &copy; 2012-2013 Green Planet Heroes
					</div>
			</div>
		</div>
	</div>
</footer>